body {
    max-width: 95%;
    background-color: antiquewhite;
    padding: 1em;
    margin: auto;   
}

h1 {
    font-size: 200%;
    color: darkred;
    text-align: center;
}

h2 {
    font-size: 150%;
}

a:hover, a:active {
    color: red;      
}

a:link, a:visited {
    color: rgb(209, 134, 49);
}

a:link {
    color:black;
}

img {
    display: block;
    margin: auto;
    height: 99%;
}
